*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock{
    background-image: url(./3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: aqua; */
    height: 100vmin;
    width: 100vmin;
    position: relative;
    display: flex;
    justify-content: center;
}

#seconds, #minutes, #hours{
    position: absolute;
}

#seconds{
    margin-top: 10vmin;
    width: 0.3vmin;
    height:40vmin;
    background-color: black;
    transform-origin: bottom;
}

#minutes{
    margin-top: 20vmin;
    width: 0.5vmin;
    height:30vmin;
    background-color: black;
    transform-origin: bottom;
}

#hours{
    margin-top: 25vmin;
    width: 1vmin;
    height:25vmin;
    background-color: black;
    transform-origin: bottom;
}